        .title{
            color: white;
            font-weight: bold;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .cabecalho{
            display: flex;
            align-items: center;
            text-align: center;
            background-color: #122A57;
            justify-content: space-around;
            max-width: 100%;
            border: 0;
        }
        .flex{
            max-width: 100%;
            padding: 10px;
            border: 2px solid #122A57;
            align-items: center;
            text-align: center;
        }
        .item{
            background-color:paleturquoise;
            margin: 5px;
            color: #122A57;
            
        }
        .img_logo{
            width: 7%;
        }
        .line-break{
            align-items: stretch;
            text-align: center;
        }
        .btn{
            background-color: white;
            color: #122A57;
            text-align: center;
            border-radius: 30px;
            width: 100%;
            display: block;
            text-decoration: none;
            height: 10%;
            line-height: 200%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .column{
            flex-direction: column;
            border: 0vh;
        }
        .htable{
            background-color: #122A57;
            color: white;
            text-align: center;
            border: 1px;
        }
        .text-column{
            writing-mode: vertical-rl;
        }
        .table-style{
            min-width: 20%;
            width: 80%;
            max-width: 80%;
            margin: 2px solid blue ;
            margin-top: 5%;
        }
        .table-flex{
            display: flex;
            border: 1px solid grey;
            margin: 2px ;
            justify-content: space-between;
            flex: 1;
            flex-direction: column;
        }
        .table-flex-header{
            width: auto;
            background: #122A57;
            color: white;
            display: flex;
            justify-content: space-around;
            border: 1px solid grey;
            margin: 1px;
            flex-grow: 1;
            text-align: center;
        }
        .table-flex-footer-g2{
            flex-grow: 2;
        }

        /*#table-flex-body{
            display: flex;
            border: 1px solid grey;
            width: auto;
            display: flex;
            justify-content: space-around;
            margin: 1px;
            flex-grow: 1;
            text-align: center;
            flex-direction: column;
        }*/
        .table-flex-total{
            display: flex;
            border: 1px solid grey;
            width: auto;
            display: flex;
            justify-content: space-around;
            margin: 1px;
            flex-grow: 1;
            text-align: center;
        }
        table.realceLinha tr:hover {
            background: green;
        }

    @media (max-width: 992px){
        .flex {
            flex-direction: column;
        }
        
    }