        .title{
            color: white;
            font-weight: bold;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .cabecalho{
            display: flex;
            align-items: center;
            text-align: center;
            background-color: #122A57;
            justify-content: space-around;
            max-width: 100%;
            border: 0;
        }
        .flex{
            max-width: 100%;
            padding: 10px;
            border: 2px solid #122A57;
            align-items: center;
            text-align: center;
        }
        .item{
            background-color:paleturquoise;
            margin: 5px;
            color: #122A57;
            
        }
        .img_logo{
            width: 7%;
        }
        .line-break{
            align-items: stretch;
            text-align: center;
        }
        .btn{
            background-color: white;
            color: #122A57;
            text-align: center;
            border-radius: 30px;
            width: 100%;
            display: block;
            text-decoration: none;
            height: 10%;
            line-height: 200%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .column{
            flex-direction: column;
        }

        .text-column{
            writing-mode: vertical-lr;
        }

        .table-30{
            width: 30%;
        }
        .table-20{
            width: 20%;
        }
        .table-50{
            width: 50%;
        }
        .table-flex-main{
            display: flex;
            justify-content: center;
            background-color: beige;
        }
        .table-dotted{
        border-bottom: 1px dotted grey;
        border-right: 1px dotted grey;
        }

        .table-flex{
            display: flex;
            margin: 2px ;
            border:3px solid grey;
        }
        .table-flex-body{
            display: flex;
            justify-content: space-around;
        }
        .table-flex-header{
            display: flex;
            background: #122A57;
            color: white;
            border-bottom: 2px solid black;
            border-right: 1px solid grey;
            justify-content: space-around;
            margin: 1px;
            text-align: center;
        }
        .table-flex-total{
            display: flex;
            background-color: lightblue;
            border-top: 2px solid black;
            border-right: 1px solid grey;
            justify-content: space-around;
            margin: 1px;
            text-align: center;
        }




    @media (max-width: 992px){
        .flex {
            flex-direction: column;
            writing-mode:horizontal-tb;
        }

        
    }